---
import Layout from "../layouts/Layout.astro";
import { Button } from "@nextui-org/react";
import { Input, Textarea } from "@nextui-org/react";
import Nav from "../components/Navbar.tsx";
---

<Layout title="CAPE">
	<main>
		<Nav client:load Active="None" />
		<!-- <Button color="primary" client:visible></Button> -->
		<div
			class="w-100 h-screen bg-gray-100 grid-rows-8 grid gap-2 justify-center"
		>
			<div></div>
			<h1 class="font-bold grid text-center text-3xl">Contact Us</h1>
			<p class="font-bold">
				Please provide us some contact info to reach out to you
			</p>
			<div class="row-span-6">
				<form class="grid grid-rows-5 gap-2">
					<Input
						type="text"
						label="Name"
						className="max-w-2xs border-2 rounded-2xl"
					/>
					<Input
						type="email"
						label="Email"
						className="max-w-2xs border-2 rounded-2xl"
					/>
					<Textarea
						label="Message"
						className="max-w-2xs row-span-2 border-2 rounded-2xl"
					/>
					<Button color="primary">Submit</Button>
				</form>
			</div>
		</div>
	</main>
</Layout>
