---
import Layout from "@layouts/LayoutVertical.astro";
import Settings from "@components/Profile/Settings/Settings.tsx";
---

<Layout>
  <main class="settings-container">
    <div class="settings-header">
      <h1>Settings</h1>
    </div>

    <Settings client:only />
  </main>
</Layout>

<style>
  /* Layout of the settings page */
  .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }

  /* Header for the Settings title */
  .settings-header {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000; /* Black color for header */
  }
</style>
