---
import Layout from "@layouts/LayoutExam.astro";
import ExamTab from "@components/ExamTab.tsx";
---

<Layout title="CAPE">
  <main class="h-screen bg-gray-50 p-8 flex">
    <ExamTab client:only />
  </main>
</Layout>
