---
import Layout from "@layouts/LayoutVertical.astro";
---

<Layout title="CAPE">
  <main class="h-screen bg-gray-50 p-8">
    <!-- Footer Section -->
    <footer class="mt-10">
      <div class="h-20 bg-gray-50">
        
      </div> <!-- Blends footer with background -->
    </footer>
  </main>
</Layout>
