---
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import { Link } from "@nextui-org/react";
import toast, { Toaster } from "react-hot-toast";
import { userSettings } from "../store.ts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <!-- <script is:inline>
      const settings = useStore(userSettings);
      let header = new Headers({
        "Content-Type": "application/json",
        Authorization: "Token " + settings.authtoken,
        "Access-Control-Allow-Origin": "http://localhost:8000",
        "Access-Control-Allow-Methods": "GET,HEAD,OPTIONS,POST,PUT",
        "Access-Control-Allow-Headers":
          "Origin, X-Requested-With, Content-Type, Accept",
      });

      let reqOpts = {
        method: "GET",
        headers: header,
        body: JSON.stringify({
          "permission": "profile"
        }),
      };

      fetch(settings.apiroot + "login", reqOpts)
        .then((response) => response.json())
        .then((result) => {
          if(result.status == "failed"){
            window.location = "/";
          }
        })
        .catch((error) => {window.location = "/";});
    </script> -->
    <ViewTransitions />
  </head>
  <body>
    <div>
      <div><Toaster /></div>
      <main class="main-content">
        <slot />
      </main>
    </div>
  </body>
</html>
