---
import Layout from "@layouts/LayoutVertical.astro";
---

<Layout>
  <main class="payment-container">
    <div class="payment-message">
      <h1>No payments for now</h1>
      <p>Enjoy when it's free!</p>
    </div>
  </main>
</Layout>

<style>
  /* Layout of the payment page */
  .payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }

  /* Styling for the payment message */
  .payment-message {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000; /* Black color for header */
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    color: #555; /* Dark gray color for subtext */
  }
</style>
